PORT=8000

EMAIL_FROM=
MAILPIT_HOST=
MAILPIT_PORT=
RESEND_FROM=
RESEND_API_KEY=

DATABASE_URL=
REDIS_HOST=
REDIS_PORT=

ADMIN_EMAIL=
ADMIN_PASSWORD_HASH=

JWT_SECRET=
JWT_EXPIRES_IN=

API_KEY_SUFIX=
API_KEY_PEPPER=

BULL_BOARD_USER=
BULL_BOARD_PASSWORD=